:root {
  --index-size: calc(1vh + 1vw);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --transition: .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
  font-family: raleway_c;
  src: url(../fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}
@font-face {
  font-family: raleway_c;
  src: url(../fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
  color: #fff;
  font-size: calc(var(--index-size) * 0.8);
  font-family: raleway_c, sans-serif;
  line-height: 1.75;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 100;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1500px;
}
.container .gallery {
  transform-style: preserve-3d;
  height: 100%;
}
.container .gallery .frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition), opacity 0.5s ease;
  will-change: transform;
  transform-style: preserve-3d;
}
.container .gallery .frame__content .frame__media {
  position: relative;
  width: calc(var(--index-size) * var(--side-small));
  height: calc(var(--index-size) * var(--side-big));
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .gallery .frame__content .frame__media_left {
  right: calc(var(--side-small) / 2 * var(--index-size) + var(--gutter));
}
.container .gallery .frame__content .frame__media_right {
  left: calc(var(--side-small) / 2 * var(--index-size) + var(--gutter));
}
.container .gallery .frame__content video.frame__media {
  width: calc(var(--index-size) * var(--side-big));
  height: calc(var(--index-size) * var(--side-small) / 1.2);
}
.container .gallery .frame__content video.frame__media_left {
  right: calc(var(--side-big) / 2 * var(--index-size) + var(--gutter));
}
.container .gallery .frame__content video.frame__media_right {
  left: calc(var(--side-big) / 2 * var(--index-size) + var(--gutter));
}
.container .gallery .frame h2 {
  text-align: center;
  font-size: calc(var(--index-size) * 3.2);
}
.container .gallery .frame .text-right > * {
  position: relative;
  left: 18vw;
}
.container .gallery .frame .text-left > * {
  position: relative;
  right: 18vw;
}
.container .gallery .frame h3 {
  font-size: calc(var(--index-size) * 2);
}
.container .gallery .frame p {
  max-width: 30vw;
  margin-top: 2vh;
}
.container .gallery .frame_bg {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 500px 400px rgba(0, 0, 0, 0.6);
}

.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 34px;
  transition: 0.25s ease;
}

.soundbutton.paused {
  opacity: 0.25;
}